@model IEnumerable<PokemonNWatches.ViewModels.PokemonViewModel>

@{
    ViewData["Title"] = "All Pokémon";
}

<h1>All Pokémon</h1>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Role</th>
            <th>Style</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pokemon in Model)
        {
            <tr>
                <td>@pokemon.PokemonName</td>
                <td>@pokemon.PokemonRole</td>
                <td>@pokemon.PokemonStyle</td>
                <td>
                    <a asp-action="Details" asp-route-id="@pokemon.PokemonId" class="btn btn-info">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
